:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.board {
  transform: rotate(-90deg);
  width: 200px;
  height: 200px;
}

.board .column {
  height: 50px;
  padding: 10px;
  background: white;
  display: flex;
  border: 1px solid black;
}

.board .column .cell {
  transform: rotate(90deg);
}

.board .column .cell.cell-red {
  color: red;
}

.board .column .cell.cell-yellow {
  color: yellow;
}